
@{
    ViewBag.Title = "Emloyee";


}


<div class="container">
    <br />

    <div class="form-group">
        <label for="Loại tìm kiếm">Loại tìm kiếm</label>
        <select class="form-control" id="typeSearch">
            <option value="name">Họ tên</option>
            <option value="birthday">Ngày sinh</option>
            <option value="gender">Giới tính</option>
            <option value="address">Địa chỉ</option>
            <option value="age">Tuổi</option>
        </select>
    </div>

    <form id="form-search" action="#">
        <div class="form-group show typeSearch" id="name">
            <label for="name">Họ tên</label>
            <input type="text" class="form-control" name="nameVal">
        </div>
        <div class="form-group hide typeSearch" id="birthday">
            <label class="error"></label>
            <br />
            <label for="startDate">Từ ngày</label>
            <input type="text" class="form-control format-date" name="startDate" placeholder="dd/MM/yyyy">
            <br />
            <label for="endDate">đến ngày</label>
            <input type="text" class="form-control format-date" name="endDate" placeholder="dd/MM/yyyy">
        </div>
        <div class="radio hide typeSearch" id="gender">
            <label><input type="radio" name="gender" checked>Nam</label>
            <label><input type="radio" name="gender">Nữ</label>
        </div>
        <div class="form-group hide typeSearch" id="address">
            <label for="address">Địa chỉ</label>
            <input type="text" class="form-control" name="addressVal">
        </div>
        <div class="form-group hide typeSearch" id="age">
            <label for="age">Tuổi</label>
            <input type="number" class="form-control" name="ageVal">
        </div>
        <input type="submit" id="sendSearch" class="btn btn-success" value="Tìm kiếm" />
    </form>
    <br />
    <button class="btn btn-success" id="addList">Thêm</button>
    <button class="btn btn-success" id="saveList">Lưu</button>









    <br />
    <br />
    <div id="tableList">
        @{Html.RenderAction("_GetList", "Home");}
    </div>
</div>
